DB_HOST="localhost"
DB_PORT=3306
DB_NAME="NABU"
DB_USER="nabu"
DB_PASS="xxxxxxxxxxxxx"
DB_SOCKET=""
JWT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
JWT_EXPIRATION_TIME=3600
VITAM_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
VITAM_URL="https://xxxxxxxxxxxxxxxxxxxxx:xxxx/"
